extends layout

block layout-content
  div.View
    div.Title
    div.NavButtons
      a(href="/studentinfo")
          div.NavButton Nav Button
    head
      div.navbar
        div.pull-left
          a(href="#")
            image-responsive(img src="images/CatApp-Logo.PNG")
        div.nav-left
          ul
            li 
              a(href="/") CatApp
            li  
              a#therapistNameText TEST
                  // Text to be changed by js depending on the person logged in
        div.nav-right
          ul
            li  
              a.searchBar
                form
                  input(type="text" placeholder="Search Students")
                  button(type="submit" aria-hidden="true")
                    i.fa.fa-search
            li        
              a.logoutLink(href="/login") Logout
    body
      div.container
        div.mainContent
          main
            div.mainheading
              h1
                | Main Heading 
                br
            div.studentTable
              p
                | Example Text
              table#student
                tbody
                  th="SID"
                  th="Fname"
                  th="Lname"
                  th="TID"
                  script.
                    var sClicked = 0;
                  each Student in Students
                    tr
                    td
                      a(href="//www.test.com/")=Student.SID
                    td
                      a(href="//www.test.com/")=Student.Fname
                      script.
                        sClicked=Student.SID;
                    td
                      a(href="//www.test.com/")=Student.Lname
                    td
                      a(href="//www.test.com/")=Student.TID
    footer
      div.fcontainer
        div.row
          address
            | 123 The High Street
            br
            |             Little SmallTown
            br
            |             Sheffield
            br
            |             S99 7ZZ
        div.footerSocialLinks
            ul
              li
                a(href="" aria-label="Twitter")
                  i.fab.fa-twitter
              li
                a(href="" aria-label="Facebook")
                  i.fab.fa-facebook
              li
                a(href="" aria-label="Instagram")
                  i.fab.fa-instagram
              li
                a(href="" aria-label="YouTube")
                  i.fab.fa-youtube
        div.footerLinks
            ul
              li
                a(href="") Terms and Conditions
              li
                a(href="") Accessibility
              li
                a(href="") Legal Information
              li
                a(href="") Privacy and GDPR
