extends layout
block layout-content
  div.View.StudentInfoView
    head
      div.navbar
        div.pull-left
          img(src="/images/CatApp-Logo.png" id="logo")
          span CatApp
              
        div.nav-left
          ul
            li  
              a#therapistNameText Welcome Therapist Name!
                
        div.nav-right
          ul
            li
              a.TherapistID="ID: " + Student.TID
            li        
              a.logoutLink(href="/login") Logout
      .tab
        div.hori-selector#b
          .left
          .right
        button.tablinks(onclick="openTab(event, 'Home')" id = 'H' ) Home
        button.tablinks(onclick="openTab(event, 'Therapy')") Therapy Maps
        button.tablinks(onclick="openTab(event, 'RecognitionandRevision')")  Recognition and Revision
        button.tablinks(onclick="openTab(event, 'Changework')") Change-Work
        button.tablinks(onclick="openTab(event, 'AddClient')") Add Client Form 
    body
        // Tab content
        #Home.tabcontent 
          div.home
            h3="Information for student: " + Student.Fname + "." +  Student.Lname
                  

        #Therapy.tabcontent
          div.filepond
            h3="Therapy Maps for " + Student.Fname + " " + Student.Lname
            p Here you can upload therapy maps for the designated student
            input(type="file" multiple="")
            script.
              FilePond.registerPlugin(
              FilePondPluginImagePreview,
              FilePondPluginImageResize,
              FilePondPluginImageTransform
              );
              const inputElement = document.querySelector('input[type="file"]');
              const pond = FilePond.create(inputElement,{
              imageResizeTargetWidth:256,
              imageResizeTargetHeight:50,
              //callback
              onaddfile:(err,fileItem)=>{
              console.log(err,fileItem.getMetadata('resize'))
              },
              /* onpreparefile:(fileItem,output)=>{
              //const img
              const img= new Image();
              img.src = URL.createObjectURL(output);
              document.body.appendChild(img);
              }*/
              });
            .Uploadbtn
              button(type="submit" onclick="")
                span(class="circle" aria-hidden="true")
                  span(class="icon arrow")
                span(class="button-text") Upload
              
              console.log('tab content')
          
        #RecognitionandRevision.tabcontent
          div.recog
            h3 Recognition
            p This the recognition and revision section
            table#recog
              tbody
                tr
                  th="Student ID"
                  th="Question"
                  th="Answer" 
                  th="Last Submitted"
                tr
                  td
                    a=Student.SID
                  td
                    a="Would exposure to the dark help?"
                  td
                    a="60"
                  td
                    a="01/03/2021"
        #Changework.tabcontent
          div.changeworkTable
                p
                  | Changework List
                table#changework
                  tbody
                    tr
                      th Student ID
                      th Things that help them 
                      th Latest submission
                script changeworkAdd()
        
        #AddClient.tabcontent
          
          div.addclientform
            h3 Add Client Questions
            form(action="" method="POST")
              div.form-group
                div.form-wrapper
                  input(type="text" class="form-control" name="Fname" placeholder="First Name" required="")
                  br
                div.form-wrapper
                  input(type="text" class="form-control" name="Lname" placeholder="Last Name" required="")
                  br
              div.form-group
                div.form-wrapper
                  label(for="target problem1") Target Problem 1
                  input(type="text" class="form-control" name="target problem1" placeholder="Target Problem" required="")
                  br
                div.form-wrapper
                  label(for="target problem1") Target Question 1
                  input(type="text" class="form-control" name="target problem1 pattern (optional)" placeholder="" required="")
                  br
              div.form-wrapper
                label(class="checkbox") Click to generate a SliderBar
                  input(type="checkbox"  name="choice1" ) 
                  span(class="checkmark")

              div.form-group
                div.form-wrapper
                  label(for="target problem2") Target Problem 2
                  input(type="text" class="form-control" name="target problem2" placeholder="" required="")
                  br
                div.form-wrapper
                  label(for="target problem2") Target Question 2
                  input(type="text" class="form-control" name="target problem2 pattern (optional)" placeholder="" required="")
                  br
              div.form-wrapper
                label(class="checkbox") Click to generate a SliderBar
                  input(type="checkbox"  name="choice2" ) 
                  span(class="checkmark")

              div.form-group
                div.form-wrapper
                  label(for="target problem3") Target Problem 3
                  input(type="text" class="form-control" name="target problem3" placeholder="" required="")
                  br
                div.form-wrapper
                  label(for="target problem3") Target Question 3
                  input(type="text" class="form-control" name="target problem3 pattern (optional)" placeholder="" required="")
                  br
              div.form-wrapper
                label(class="checkbox") Click to generate a SliderBar
                  input(type="checkbox"  name="choice3" ) 
                  span(class="checkmark")

              div.form-group
                div.form-wrapper
                  label(for="target problem4") Target Problem 4
                  input(type="text" class="form-control" name="target problem4" placeholder="" required="")
                  br
                div.form-wrapper
                  label(for="target problem3") Target Question 4
                  input(type="text" class="form-control" name="target problem4 pattern (optional)" placeholder="" required="")
                  br
              div.form-wrapper
                label(class="checkbox") Click to generate a SliderBar
                  input(type="checkbox"  name="choice4" ) 
                  span(class="checkmark")
              
              input(type="submit")
              .script 
                console.info("submitted")
  script onloadTab();