extends layout

block layout-content
  div.View
    head
      div.navbar
        div.pull-left
            img(src="./images/CatApp-Logo.png" id="logo")
            span CatApp
        div.nav-left
        
        div.nav-right
          ul
            li        
              a.logoutLink(href="/login") Logout
            li  
              a#StudentNameText J SHAW
                // Text to be changed by js depending on the person logged in
      //- h1.Banner Hello
      //- div.Message
      //-   div.Title Student Information
              
    body
      div.containeralt
        .tabstudent
          button.tablinks(onclick="openTab(event, 'Therapy')") Therapy Maps
          button.tablinks(onclick="openTab(event, 'RecognitionandRevision')")  Recognition and Revision
          button.tablinks(onclick="openTab(event, 'Changework')") Change-Work
        div.mainContent
          #Therapy.tabcontent
            h3 Therapy Maps
                div.filepond
                  img.filepongimage#fimage(src="./images/TherapyMap.jpeg" alt="Therapy Map")
          #RecognitionandRevision.tabcontent
            p This the recognition and revision section
            .q1
              p1=TherapistRecognition[0].targetproblem1pattern
            .SliderBar#SliderBar
              input#slider(type='range' min='0' max='100' value='50')
              #selector
                .SelectBtn
                #SelectValue
              #ProgressBar
              - var trecog = TherapistRecognition[0].choice1
              - var sliderclass = "SliderBar"
              script.
                var trecog = "#{trecog}";
                var sliderclass = "#{sliderclass}";
                IsSlider(sliderclass,trecog);
            .q2
              p1=TherapistRecognition[0].targetproblem2pattern
            .SliderBar2#SliderBar2
              input#slider2(type='range' min='0' max='100' value='50')
              #selector2
                .SelectBtn2
                #SelectValue2
              #ProgressBar2
              - var trecog = TherapistRecognition[0].choice2
              - var sliderclass = "SliderBar2"
              script.
                
                var trecog = "#{trecog}";
                var sliderclass = "#{sliderclass}";
                IsSlider(sliderclass,trecog);
            .q3
              p1=TherapistRecognition[0].targetproblem3pattern
            .SliderBar3#SliderBar3
              input#slider3(type='range' min='0' max='100' value='50')
              #selector3
                .SelectBtn3
                #SelectValue3
              #ProgressBar3
              - var trecog = TherapistRecognition[0].choice3
              - var sliderclass = "SliderBar3"
              script.
                var trecog = "#{trecog}";
                var sliderclass = "#{sliderclass}";
                IsSlider(sliderclass,trecog);
            .q4
              p1=TherapistRecognition[0].targetproblem4pattern
            .SliderBar4#SliderBar4
              input#slider4(type='range' min='0' max='100' value='50')
              #selector4
                .SelectBtn4
                #SelectValue4
              #ProgressBar4 
              - var trecog = TherapistRecognition[0].choice4
              - var sliderclass = "SliderBar4"
              script.
                var trecog = "#{trecog}";
                var sliderclass = "#{sliderclass}";
                IsSlider(sliderclass,trecog);
            input(type="submit")
            script.
              //var isVisible=true;
              var slider=document.getElementById("slider");
              var selector=document.getElementById("selector");
              var ProgressBar= document.getElementById("ProgressBar");
              SelectValue.innerHTML = slider.value;
              var slider2=document.getElementById("slider2");
              var selector2=document.getElementById("selector2");
              var ProgressBar2= document.getElementById("ProgressBar2");
              SelectValue2.innerHTML = slider2.value;
              var slider3=document.getElementById("slider3");
              var selector3=document.getElementById("selector3");
              var ProgressBar3= document.getElementById("ProgressBar3");
              SelectValue3.innerHTML = slider3.value;
              //SelectValue3.innerHTML = slider3.hide(isVisible);
              //alert( #RecognitionandRevision.getAttribute(isVisible) );
              var slider4=document.getElementById("slider4");
              var selector4=document.getElementById("selector4");
              var ProgressBar4= document.getElementById("ProgressBar4");
              SelectValue4.innerHTML = slider4.value;
              slider.oninput=function()
              {
              SelectValue.innerHTML = this.value;
              selector.style.left =this.value+ "%";
              ProgressBar.style.width =this.value+ "%";
              }
              slider2.oninput = function(){
              SelectValue2.innerHTML = this.value;
              selector2.style.left =this.value+"%";
              ProgressBar2.style.width =this.value+ "%";
              }
              slider3.oninput = function(){
              SelectValue3.innerHTML = this.value;
              selector3.style.left =this.value+"%";
              ProgressBar3.style.width =this.value+ "%";
              }
              slider4.oninput = function(){
              SelectValue4.innerHTML = this.value;
              selector4.style.left =this.value+"%";
              ProgressBar4.style.width =this.value+ "%";
              }
          #Changework.tabcontent
              h3 ChangeWork                      
              div.overall-changework
                form(action="/changeWork" method="POST")
                  div.input-group
                    input.form-control#helpfulThing(type="text", required)
                    div.input-group-append
                      button(type="button", class="btn btn-add", onclick="addItem()") Add something that helps you
                      button(type="button", class="btn btn-remove", onClick="removeItem()") Remove something from the list
                  ul#dynamic-list
                  input(type="submit")


    footer
      div.fcontainer
        div.row
          address
            | 123 The High Street
            br
            |             Little SmallTown
            br
            |             Sheffield
            br
            |             S99 7ZZ
        div.footerSocialLinks
            ul
              li
                a(href="" aria-label="Twitter")
                  i.fab.fa-twitter
              li
                a(href="" aria-label="Facebook")
                  i.fab.fa-facebook
              li
                a(href="" aria-label="Instagram")
                  i.fab.fa-instagram
              li
                a(href="" aria-label="YouTube")
                  i.fab.fa-youtube
        div.footerLinks
            ul
              li
                a(href="") Terms and Conditions
              li
                a(href="") Accessibility
              li
                a(href="") Legal Information
              li
                a(href="") Privacy and GDPR
            