extends layout
block layout-content
    h2=title
    h3=Students[2].SID
    table
      tbody
        th="SID"
        th="Fname"
        th="Lname"
        th="TID"
        tr
        each Student in Students
          td=Student.SID
          td=Student.Fname
          td=Student.Lname
          td=Student.TID
          tr